#top-banner {
	background-image: url(/images/nmtis-banner.jpg?1254e7e6e002d236cd9ed19548669fbc);
	background-attachment: fixed;
}

#background-image {
	background-image: url(/images/background-long.jpg?1d9d1b6af7962234901c31ae0178407d);
	background-size: 100em;
	background-repeat:no-repeat;/*single image not repeated*/
	background-attachment: fixed;
}

.form {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

#submit-button {
	font-family: 'Saira', sans-serif;
	background: #c2ff00;
	color: #000000;
	height: 50px;
	width: 75px;
	margin-top: 5px;
	text-shadow:none;
}

h1, h2, h3, h4, h5, h6	{
	color: #adff00;
	text-align: left;
	font-family: 'Saira', sans-serif;
}

label {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

p {
	color: aliceblue;
	font-family: 'Saira', sans-serif;
	text-align: left;
	font-size: medium;
}

li {
	color: #ffffff;
	font-family: 'Saira', sans-serif;
}

#box-back, .box-back {
	background-color: rgba(0,0,0,.45);
	border-radius: 7px;
	padding: 1em;
}

footer, #footer {
	background-color: #373737;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .20em solid #6dff00; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	padding: 1vw;
	letter-spacing: .05em; /* Adjust as needed */
	-webkit-animation:
		typing 4.5s steps(27, end),
		blink-caret 0.7s step-end infinite;
	        animation:
		typing 4.5s steps(27, end),
		blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #6dff00; }
}
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #6dff00; }
}

nav {
	background-image: url(/images/nmtis-banner.jpg?1254e7e6e002d236cd9ed19548669fbc);
	font-family: 'Saira', sans-serif;
	color: #adff00;
	background-color: #373737;
}

input::-moz-placeholder {
	color: #adff00;
	font-family: 'Saira', sans-serif;
}

input:-ms-input-placeholder {
	color: #adff00;
	font-family: 'Saira', sans-serif;
}

input::placeholder {
	color: #adff00;
	font-family: 'Saira', sans-serif;
}

input, label {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

html, body {
	background: rgb(0,0,1);
	background-attachment: fixed;
}

#output-area {
	font-family: 'Saira', sans-serif;
}
