@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #d13581;
        --color-text-muted: #57fd00;
        --color-text-inverted: #fffff;
        --color-fill: #196b9f;
        --color-button-accent: #2aa198;
        --color-button-accent-hover: #b58901;
        --color-button-muted: #0000;
    }
    .theme-neon-tech {
        --color-text-base: #d13581;
        --color-text-muted: #57fd00;
        --color-text-inverted: #fffff;
        --color-fill: #196b9f;
        --color-button-accent: #2aa198;
        --color-button-accent-hover: #b58901;
        --color-button-muted: 99, 102, 241;
    }
    
}
