#top-banner {
	background-image: url("../img/nmtis-logo-badge-full-wording.png");
	background-attachment: fixed;
}

#background-image {
	background-image: url("../images/nm-technology-bg.jpg");
	background-size: 100%;
	background-repeat:no-repeat;/*single image not repeated*/
	background-attachment: fixed;
}

.form {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

#submit-button {
	font-family: 'Saira', sans-serif;
	background: #c2ff00;
	text-decoration-color: #ffffff;
	height: 50px;
	width: 75px;
	margin-top: 5px;
	text-shadow:none;
}

h1 {
    color: #edf2f7;
    font-family: 'Saira', sans-serif;
    font-size: 102px;
}

h3, h6 {
    color: #edf2f7;
    font-family: 'Saira', sans-serif;
}

a, h2, h4, h6	{
	color: #f9f9f9;
	font-family: 'Saira', sans-serif;
}

label {
	font-family: 'Saira', sans-serif;
	color: #c2ff00;
}

p {
	color: #adff00;
	font-family: 'Saira', sans-serif;
	text-align: left;
	font-size: 18px;
}

li {
	color: #ffffff;
	font-family: 'Saira', sans-serif;
}

#box-back, .box-back {
	background-color: rgba(0, 0, 0, 0.478);
	border-radius: 7px;
	padding: 1em;
}

footer, #footer {
	background-color: #373737;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .20em solid #adff00; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	padding: 1vw;
	letter-spacing: .05em; /* Adjust as needed */
	animation:
		typing 4.5s steps(27, end),
		blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #adff00; }
}

nav {
	font-family: 'Saira', sans-serif;
	color: #c2ff00;
	background-color: #363636;
    height: 119px;
}

@media only screen and (max-width: 1300px) {
    nav {
        height: 219px;
    }
}

input::placeholder {
	color: #c2ff00;
	font-family: 'Saira', sans-serif;
}

input, label {
	font-family: 'Saira', sans-serif;
	color: #c2ff00;
}

html, body {
	background: rgb(0,0,1);
	background-attachment: fixed;
}

#output-area {
	font-family: 'Saira', sans-serif;
}

button {
    background-color: #c2ff00;
}

marquee {
    font-size: 24px;
    color: #ffffff;

}

.btn-custom {
	color: #c2ff00;
}

.bg-dark {
	background-color: #363636;
}

.btn-bd-primary {
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet);
	--bs-btn-border-color: var(--bd-violet);
	--bs-btn-border-radius: .5rem;
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
	--bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
	--bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }